:root {
    --primary-color: #4a90e2;
    --accent-color: #f5a623;
    --bg-color: #ffffff;
    --text-color:black;
     --link-text-color: #ffffff;  
    --shadow:0 4px 15px rgba(0, 0, 0, 0.12);
    --spacing:5.5rem; /* genel bosluk */
    --card-radius: 1rem;
     --transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* --secondary-color: #f5f5f5;
    --text-color: #333;
    --header-height: 60px;
    --footer-height: 50px;
    --nav-height: 50px;
    --link-color: #4a90e2;
    --link-hover-color: #357ab8;  gibi kullanimlari vardir   */  

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(215, 219, 222);
    color: var(--text-color);
    line-height: 1.5;
}
header {
    background-color: var(--primary-color);
    position: sticky; /* sayfa kaysada ustte yapisik kalir*/
    top:0; /* en yukardan sticky oldugunu */
    box-shadow: var(--shadow);
    z-index: 1000; /* ustte olmasi icin */
  
}

.header-nav{
display: flex;
    justify-content: space-between;
    align-items: center;
   flex-direction: row;
   padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;

}

.logo img{
    height: 50px;
    width: auto;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;/* asagi inince kendini atiyor*/
    gap:1rem; /* elemanlar arasi bosluk*/
    margin : 0;
    padding: 0;     
    list-style: none; /* liste isaretlerini kaldir */
    justify-content: center;
}

.nav-list a{
 color:aliceblue;
    text-decoration: none; /* alt cizgiyi kaldir */
    padding: 0.5rem 0.7rem;  /* ic bosluk */
    border-radius: 5px; /* kenarlari yuvarla */
    border-radius: 0.5rem;
    transition:background-color 1s; 
    
}

.nav-list a:hover{
    background-color: var(--accent-color);
    color:palevioletred;
    transform: scale(1.07);
    transition: background-color 0.3s ease; /* gecis efekti */

}
/*!!!!!!!!!!!!!!!!*/
.nav-list a[aria-current="page"] {
    font-weight: 700;
    box-shadow: 0 2px 0 0 var(--accent-color);
}
main{
    padding: var(--spacing);
    max-width: 1200px;
    width:100%;
    min-height: 70vh;
    margin: 0 auto; 
}

.hero{

    display: flex;
    flex-direction: row; /* yan yana */
    align-items: center; /* dikey ortala */ 
    gap:var(--spacing);
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--spacing);
    min-height:50vh;
    overflow: hidden;
    border-radius: 0 var(--card-radius) var(--card-radius) 0;


}

.hero-img{
    width: 40%;
    height: 40vh;
    max-width: 500px;
    min-width: 250px;
    object-fit: cover; /* resim orantili buyusun */
    border-radius: 0 var(--card-radius) var(--card-radius) 0; /* sadece sol ust ve alt kenarlar yuvarlak */   
    float:left; /* resim sola yasla */
    opacity:0.95;
}

.hero-content{
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column; /* dikey hizala */
    justify-content: center; /* dikey ortala */
}
.hero-content h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color:var(--primary-color);

}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.btn{
    display: inline-block  ; /* inline-block ile buton gibi davran */
    padding: 0.5rem 1rem; /* ic bosluk */
    color:var(--primary-color);
    background: var(--accent-color);
    border:none;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    transition: all var(--transition); 
     text-decoration: none;  
    cursor: pointer; /* imleci el yapar */

}
.btn:hover{
    background-color: var(--primary-color);
      color: var(--link-text-color);  
    box-shadow: 0 8px 24px rgba(41, 61, 102, 0.2);
    transform: translateY(-2px); /* yukari kaydir */
}

.features{
    margin: var(--spacing) 0;
    background: #ffffff;
    border-radius: var(--card-radius);
    box-shadow: var(--shadow);
    padding: var(--spacing);
}

.amenities-extra {
display: flex;
flex-wrap: wrap;
gap: 1rem;
padding: 0;
list-style: none;
margin-top: 2rem;
justify-content: center;
}


.amenities-extro li {
 display: flex;
flex-wrap: wrap;
gap:0.5rem;
background-color: var(--bg-color) ;
padding: 0.75rem 1rem ;
border-radius: 0.5rem;

}
.amenities-extra li:hover {
  background: var(--accent-color);
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Room Page */

.rooms {
    margin-bottom: var(--spacing);
}

.room-cards{
    display: flex;
    gap:var(--spacing);
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: var(--spacing);
}

.room-card {
    background: #fff;
    min-width: 280px;
    max-width: 350px;
    padding: 1rem;
    flex: 1 1 300px; /* ayni boyutta olsun */
    box-shadow: var(--shadow);
    border-radius: var(--card-radius);
    transition: box-shadow var(--transition), transform var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.room-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: var(--card-radius);
    margin-bottom: 1rem;
}

.room-card::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: var(--accent-color);
   transform: scaleX(0);
    transition: transform 0.3s ease;
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

.room-card:hover::after {
    transform: scaleX(1);  /* hoverda alt cizgi goster */
}

.room-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.room-card ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.room-card ul li {
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.room-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f1ecec;
    overflow: hidden;
    box-shadow: var(--shadow);
    border-radius: var(--card-radius);
    border-spacing: 0;
    margin-top: 1rem;
}

.room-table th {
    background-color: var(--primary-color);
    color: var(--link-text-color);
    padding: 1rem;
    text-align: left;
    font-weight: 700;
}

.room-table caption {
   font-weight: 700;
   font-size:1.2rem;
   color: var(--primary-color);
    margin-bottom: 1rem;

}

.room-table th ,.room-table td {

    padding:  1rem;
    text-align: left;
    border-bottom:  1px solid #ddd;
}

.room-table tr:hover {
    background-color: var(--accent-color);
    color: var(--link-text-color);
    
}
.room-table tr:last-child td {
    border-bottom: none; /* son satirda alt cizgi yok */
}


.room-table tr:nth-child(even) {
    background-color: #d4cbcb; /* cift satirlara arka plan rengi */
}
footer{
    background-color: var(--primary-color);
    color: var(--link-text-color);
    padding: 1rem 0;
    margin-top:var(--spacing);
    box-shadow: var(--shadow);

    text-align: center;
    position: relative; /* icindeki elemanlarin konumlandirilmasi icin */
    bottom: 0; /* en alta yapistir */
    width: 100%;
}

.menu-toggle {
    display: none; /* mobil icin gizle */
    cursor: pointer;
}




